* {
    margin: 0;
    padding: 0;
    /* background-color: cadetblue; */
    font-family: 'Silkscreen', cursive;
}

/* header{
    background-color: black;
} */

#title {
    background-color: orange;
    color: black;
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
}

#user {
    justify-content: center;
    /* background-color: black; */
}

#nav {
    margin-left: 10px;
    justify-content: start;
    align-items: start;
    border-radius: 25px;
    border: 2px solid black;
    padding: 7px;
}

#drop {
    border-radius: 25px;
    border: 2px solid black;
    padding: 7px;
}

/* #movieInfo {
    height: 300px;
    background-color: white;
} */

#seen {
    color: black;
    text-decoration: underline;
}

.list-buttons {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box{
    background-color: rgb(240, 237, 237);
    box-shadow: 10px 5px 5px rgb(159, 158, 158);

}
#datepicker{
    background-color: aliceblue;
}

.hide {
    display: none;
}